<?xml	version="1.0"	encoding="UTF-8"?>
<widget	xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.sergiolopes.cenourapp" version="1.0.0">
    <name>
        Só de Cenoura
    </name>
    <description>
        Menu do restaurante Só de Cenoura.
    </description>
    <author	href="http://mateus-h.github.io/" email="mateusmullety@gmail.com">
        Mateus Mullety
    </author>

    <preference name="permissions" value="none">
    <preference name="orientation" value="portrait">
    <preference name="fullscreen" value="true">
    <preference	name="android-minSdkVersion" value="19"	/>
    <gap:platform name="android"/>

    <icon src="icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />
</widget>